<nav class="navbar navbar-expand-lg navbar-dark text-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1 class="title">AI Technologies</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-light" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <li class="nav-item rounded text-light">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-fill me-2"></i>HOME</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link active" href="#"><i class="bi bi-people-fill me-2 "></i>ABOUT</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link active" href="#courses"><i class="bi bi-telephone-fill me-2"></i>COURSES</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link active" href="#"><i class="bi bi-telephone-fill me-2"></i>PHOTOS</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link active" href="#"><i class="bi bi-telephone-fill me-2"></i>VIDEOS</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link active" href="#"><i class="bi bi-telephone-fill me-2"></i>CONTACT</a>
          </li>
          <li class="nav-item dropdown rounded">
            <a class="nav-link dropdown-toggle  active" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>PROFILE</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">ACCOUNT</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#" onclick="logout()">LOGOUT</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-6 ">
        <div class="desc">
            <h1>AI Technologies</h1>
            <h3>Kochi</h3><br>
            <p>AI Technologies is a leading training institute in Kochi offering <br> advanced IT 
                courses such as Big Data, Data Science, <br> Python, Testing training etc.</p>
        </div>
    </div>
    <div class="col-6">
        <div class="img1">
            <img src="../../assets/images/programming-concept-illustration_114360-1351.webp" alt="">
        </div>
    </div>
  </div>

  <div class="c-title">
    <h1>Courses</h1>
  </div>
  <section id="courses">
    <div class="div1">
    <div class="card">
        <img src="../../assets/images/testing.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Software Testing Specialist</b></h5>
          <p class="card-text">Manual Testing , Java foundations, Mobile Testing, Automation Testing,
             Selenium IDE, Selenium Web driver, Selenium Advanced</p>
             <p><b>Next Batch:</b> <br>
                <b>Cochin:</b>Dec 14th 2022 (Offline & Online) <br>
                <b>Calicut:</b>Not Available <br>
                <b>Duration:</b>
                4 Months, 5 Days a Week, 1.5 - 2 Hours/day <br>
                <b>Course Fee:</b> <br>
                <b>Offline :</b> 31500 <br>
                <b>Online :</b> 29500</p> <br>
          <a href="#" class="btn btn-outline-success">View More</a>
        </div>
      </div>

      <div class="card">
        <img src="../../assets/images/react.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>MEA(R)N Full Stack</b></h5>
          <p class="card-text">HTML, CSS, Bootstrap, Javascript, Typescript, Git, Angular, React.js, Node.js, Express.js & MongoDB</p>
             <p><b>Next Batch:</b> <br>
                <b>Cochin:</b>Dec 14th 2022 (Offline & Online) <br>
                <b>Calicut:</b>Not Available <br>
                <b>Duration:</b>
                4 Months, 5 Days a Week, 1.5 - 2 Hours/day <br>
                <b>Course Fee:</b> <br>
                <b>Offline :</b> 31500 <br>
                <b>Online :</b> 29500</p> <br>
          <a href="#" class="btn btn-outline-success">View More</a>
        </div>
      </div>

      <div class="card">
        <img src="../../assets/images/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Data Science - ML - AI </b></h5>
          <p class="card-text">Python, Hadoop, Spark, Data Analytics, Linear Algebra, Statistics, Probability Concepts, Machine Learning.</p>
             <p><b>Next Batch:</b> <br>
                <b>Cochin:</b>Dec 14th 2022 (Offline & Online) <br>
                <b>Calicut:</b>Not Available <br>
                <b>Duration:</b>
                4 Months, 5 Days a Week, 1.5 - 2 Hours/day <br>
                <b>Course Fee:</b> <br>
                <b>Offline :</b> 31500 <br>
                <b>Online :</b> 29500</p> <br>
          <a href="#" class="btn btn-outline-success">View More</a>
        </div>
      </div>
      </div>

      <div class="div1">
        <div class="card">
            <img src="../../assets/images/python.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Python Django Full Stack</b></h5>
              <p class="card-text">Core Python, Basics of Programming, Unix Commands, Advanced Python, Django Framework, REST API, Git, Angular, Web</p>
                 <p><b>Next Batch:</b> <br>
                    <b>Cochin:</b>Dec 14th 2022 (Offline & Online) <br>
                    <b>Calicut:</b>Not Available <br>
                    <b>Duration:</b>
                    4 Months, 5 Days a Week, 1.5 - 2 Hours/day <br>
                    <b>Course Fee:</b> <br>
                    <b>Offline :</b> 31500 <br>
                    <b>Online :</b> 29500</p> <br>
              <a href="#" class="btn btn-outline-success">View More</a>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/images/aspnet.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Asp.net - Full Stack</b></h5>
              <p class="card-text">C# Programming, Object Oriented Development, ASP .Net Web and Windows Application Development, MS SQL, MVC</p>
                 <p><b>Next Batch:</b> <br>
                    <b>Cochin:</b>Dec 14th 2022 (Offline & Online) <br>
                    <b>Calicut:</b>Not Available <br>
                    <b>Duration:</b>
                    4 Months, 5 Days a Week, 1.5 - 2 Hours/day <br>
                    <b>Course Fee:</b> <br>
                    <b>Offline :</b> 31500 <br>
                    <b>Online :</b> 29500</p> <br>
              <a href="#" class="btn btn-outline-success">View More</a>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/images/flutter.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Android Developer - Flutter</b></h5>
              <p class="card-text">Dart, Flutter Introduction to Android, AndroidManifest.xml, Directories, Layout Designing, Basics & Intents, UI</p>
                 <p><b>Next Batch:</b> <br>
                    <b>Cochin:</b>Dec 14th 2022 (Offline & Online) <br>
                    <b>Calicut:</b>Not Available <br>
                    <b>Duration:</b>
                    4 Months, 5 Days a Week, 1.5 - 2 Hours/day <br>
                    <b>Course Fee:</b> <br>
                    <b>Offline :</b> 31500 <br>
                    <b>Online :</b> 29500</p> <br>
              <a href="#" class="btn btn-outline-success">View More</a>
            </div>
          </div>
          </div>
  </section>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <a href="#" class="float" target="_blank">
<i class="fa-brands fa-facebook-messenger my-float"></i>
</a>

  <footer>
    <h1 class="foot-h">AI Technologies</h1>
    <ul class="icons">
      <li><a href="#" class="fa fa-facebook"></a></li>
      <li><a href="#" class="fa fa-instagram"></a></li>
      <li><a href="#" class="fa fa-youtube"></a></li>
      <li><a href="#" class="fa fa-google"></a></li>
      <li><a href="#" class="fa fa-twitter"></a></li>

    </ul>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Specialties</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="footer-copyright">
      <p>Copyright @aitechnologies 2022 All Rights Reserved.</p>
    </div>
  </footer>